<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchStudents</title>
</head>
<body>
    <form action="/getpercentages" method="post">
        <label for="firstper">Please Enter the students Percentage Numbers</label>
        <input type="number" id="firstper" name="firstper" />
        <label for="secondper">Up to which perectage</label>
        <input type="number" id="secondper" name="secondper" />
        <input type="submit" value="submit" />
    </form>
</body>
</html>