<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_Years</title>
</head>
<body>
    <div class="allyears">
        <div class="firstyears">
            <h2>FIRST YEARS STUDENTS</h2>
        </div>
        <div class="secondyears">
            <h2>SECOND YEARS STUDENTS</h2>
        </div>
        <div class="thirdyears">
            <h2>THIRD YEARS STUDENTS</h2>
        </div>
        <div class="fourthyears">
            <h2>FOURTH YEAR STUDENTS</h2>
        </div>
    </div>
</body>
</html>